/*fs*/
/*color*/
/*btn*/
.star__enable {
  width: 17px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/star-enable.png);
}
.star__disable {
  width: 17px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/star-disable.png);
}
a {
  color: #0088cf;
}
.page-content {
  max-width: 1170px;
  margin: 0 auto;
}
body {
  min-width: 320px;
  font: 14px/1.4 'Open Sans', sans-serif;
  color: #10142f;
  background: #fff;
}
.nav-top-w {
  background-color: #dff2f8;
  line-height: 32px;
}
.nav-top {
  display: flex;
}
.nav-top .menu-top {
  display: flex;
}
.nav-top a {
  color: #0088cf;
  margin: 0 15px;
  font-size: 13px;
}
.nav-top a i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  border-color: #5da8da;
  margin-left: 3px;
  margin-bottom: 2px;
}
.nav-top a .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-top a:hover {
  text-decoration: underline;
}
.nav-top .social {
  margin-left: auto;
}
.nav-top .social .vk {
  background-image: url(../images/vk.png);
  width: 28px;
  height: 16px;
}
.nav-top .social .facebook {
  width: 8px;
  height: 16px;
  background-image: url(../images/fb.png);
}
.nav-top .social .instagram {
  width: 16px;
  height: 16px;
  background-image: url(../images/instagram.png);
}
.nav-top .social .star {
  width: 17px;
  height: 16px;
  background-image: url(../images/star.png);
}
.nav-top .social *:not(:last-child) {
  display: inline-block;
}
.nav-top .social a {
  margin: 0 7px;
}
.header-w {
  display: flex;
  padding: 15px 0 15px 15px;
}
.header-left {
  display: flex;
  width: 58%;
}
.header-left .logo {
  margin-right: 4%;
  width: 30%;
  max-width: 180px;
}
.header-left .phone {
  text-align: right;
  padding-left: 30px;
  background: url(../images/phone-icon.png) no-repeat left 40%;
  margin-right: 4%;
  width: 30%;
  max-width: 180px;
}
.header-left .phone a {
  font-size: 14px;
  color: #0088cf;
  border-bottom: 1px dashed #0088cf;
}
.header-left .phone span {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: block;
}
.header-left .phone p {
  font-size: 11px;
  color: #999;
}
.header-left .contacts {
  background: url(../images/location.png) no-repeat 5px center;
  width: 40%;
  padding-left: 40px;
  text-align: right;
  max-width: 235px;
  line-height: 1.1;
}
.header-left .contacts p {
  font-size: 11px;
  color: #999;
  margin-bottom: 5px;
}
.header-left .contacts span {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.header-left .contacts a {
  color: #0088cf;
  font-size: 11px;
}
.header-right {
  flex-basis: 42%;
  padding-left: 15px;
  display: flex;
}
.header-right .deal {
  width: 40%;
  margin-right: 7%;
}
.header-right .deal img {
  min-width: 170px;
}
.header-right .deal p {
  font-size: 12px;
  color: #333;
  text-align: center;
  font-weight: 500;
}
.header-right .certificate {
  width: 17%;
  margin-right: 9%;
}
.header-right .certificate span {
  margin-top: 5px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}
.header-right .reward {
  display: flex;
  align-items: center;
  width: 43%;
}
.header-right .reward img {
  max-width: 23px;
  margin-right: 15px;
}
.header-right .reward a {
  font-size: 11px;
  color: #0099cc;
  text-decoration: underline;
}
.header-menu-w {
  background-color: #0088cf;
}
.topnav {
  display: flex;
}
.topnav li:first-child a {
  padding-left: 15px;
  color: #0e2470;
  background-color: #77cfea;
  padding-right: 15px;
}
.topnav li:first-child a i {
  margin-left: 25px;
  font-size: 18px;
  line-height: 0;
  transform: translateY(2px);
  display: inline-block;
}
.topnav li:first-child a:hover {
  text-decoration: none;
}
.topnav a {
  display: inline-block;
  color: #fff;
  padding: 16px 30px;
  transition: .4s;
}
.topnav a:hover {
  color: #77cfea;
  text-decoration: underline;
  transition: .4s;
}
.topnav li:not(:first-child):not(:nth-child(n+6)):after {
  content: "|";
  display: inline-block;
  width: 2px;
  height: 10px;
  color: #fff;
  opacity: .7;
}
.topnav .leave-order {
  background-color: #74b64d;
  background-image: url(../images/order.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.topnav .leave-order a {
  padding-right: 45px;
}
li.icon {
  display: none;
}
.search-w {
  background-color: #f1f1f2;
}
.search-w input[type="submit"] {
  text-transform: uppercase;
  flex-basis: 166px;
  margin-top: 20px;
  line-height: 30px;
  padding-top: 4px;
  cursor: pointer;
  transition: .4s;
  background-color: #fdbc3b;
  border-radius: 5px;
  max-width: 165px;
  width: 100%;
  min-height: 34px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.search-w input[type="submit"]:hover {
  background: #d08b02;
}
.search-w form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-w form p,
.search-w form label {
  font-size: 11px;
  color: #999;
}
.search-w form label {
  padding-left: 5px;
  margin-bottom: 5px;
}
.search-w .view-on-map {
  background: url(../images/blue-location.png) no-repeat 7px center;
  padding-left: 20px;
  color: #0088cf;
  border: #0088cf 1px solid;
  line-height: 34px;
  border-radius: 5px;
  flex-basis: 166px;
  margin-top: 20px;
  font-size: 14px;
  transition: .4s;
  cursor: pointer;
}
.search-w .view-on-map:hover {
  background: #fff url(../images/blue-location.png) no-repeat 7px center;
  transition: .4s;
}
.search-w .search {
  padding: 20px 15px 10px;
}
.search-w .realty,
.search-w .rooms,
.search-w .cost,
.search-w .city {
  display: flex;
  flex-wrap: wrap;
}
.search-w .rooms,
.search-w .realty {
  flex-basis: 165px;
}
.search-w .cost {
  flex-basis: 165px;
  justify-content: space-around;
}
.search-w .cost p {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.search-w .cost input {
  max-width: 70px;
}
.search-w .cost span {
  line-height: 30px;
}
.search-w .cost label {
  display: block;
  width: 100%;
  text-align: center;
}
.search-w .city {
  flex-basis: 165px;
}
.search-w .city .third-select {
  width: 100%;
}
.search-w .search-form .nice-select {
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  padding-left: 10px;
}
.search-w .search-form .nice-select span {
  color: #333;
}
.search-w .first-select,
.search-w .second-select {
  flex-basis: 165px;
}
.search-w .search-more {
  font-size: 12px;
  color: #0088cf;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  border-bottom: 1px #0088cf dashed;
}
.section-slider {
  margin-top: 15px;
  *zoom: 1;
}
.section-slider:before,
.section-slider:after {
  display: table;
  line-height: 0;
  content: "";
}
.section-slider:after {
  clear: both;
}
.section-slider .main-slider {
  width: 74%;
  float: left;
  margin-right: 15px;
}
.section-slider .main-slider .swiper-button-prev,
.section-slider .main-slider .swiper-button-next {
  background-image: url(../images/left-arrow.png);
  width: 25px;
  height: 55px;
  background-size: 100% 100%;
  top: 38%;
}
.section-slider .main-slider .swiper-button-next {
  transform: rotate(180deg);
}
.section-slider .swiper-slide {
  position: relative;
}
.section-slider .slide-content {
  max-width: 325px;
  width: 100%;
  min-height: 125px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 12px 0 16px 65px;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  line-height: 1;
}
.section-slider .slide-content .slide-content__top {
  color: #77cfea;
}
.section-slider .slide-content .slide-content__bottom {
  font-size: 26px;
  margin-top: 20px;
}
.section-slider .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 15px;
  height: 15px;
  margin: 0 12px !important;
}
.section-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0088cf !important;
}
.description-slider {
  float: left;
  width: calc(26% - 15px);
}
.description-slider div {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 95px;
  flex-basis: 280px;
  min-height: 120px;
  border: 1px solid transparent;
  transition: .4s;
}
.description-slider div a {
  color: #0088cf;
}
.description-slider div:hover {
  background-color: #c0e6f2;
  border: 1px solid #0088cf;
  transition: .4s;
}
.description-slider div:not(:last-child) {
  margin-bottom: 17px;
}
.description-slider .mark {
  background: #f1f1f2 url(../images/mark.png) no-repeat 10px center;
}
.description-slider .credit {
  background: #f1f1f2 url(../images/credit.png) no-repeat 10px center;
}
.description-slider .exchange {
  background: #f1f1f2 url(../images/exchange.png) no-repeat 10px center;
}
section.fresh-realty {
  margin-top: 35px;
  margin-bottom: 40px;
}
section.fresh-realty h2 {
  color: #74b64d;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}
section.fresh-realty h2 + span {
  text-align: center;
  display: block;
  width: 60%;
  margin: 0 auto;
  color: #333;
}
section.fresh-realty h2 + span a {
  color: #0088cf;
}
section.fresh-realty .realty-w {
  display: flex;
  margin-top: 30px;
}
section.fresh-realty .realty-col {
  flex: 1 1 calc(20% - 15px);
  padding-left: 15px;
}
section.fresh-realty .realty-col li:not(:first-child) {
  margin: 6px 0;
}
section.fresh-realty .realty-col a:hover {
  color: #74b64d;
  text-decoration: underline;
  transition: .4s;
}
section.fresh-realty .realty-col a {
  transition: .4s;
}
section.fresh-realty .realty-col h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}
section.propositions .propositions-title-w {
  background-color: #e5e5e5;
}
.propositions-title-inner {
  display: flex;
  min-height: 67px;
  /*padding: 17px 0 12px;*/
  padding: 0 20px;
  align-items: center;
  align-content: center;
}
.propositions-title-inner h2 {
  color: #0088cf;
  font-size: 24px;
  font-weight: 500;
}
.propositions-title-inner .propositions__price {
  flex: 0 1 165px;
  min-height: 40px;
  line-height: 40px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 1px #ccc solid;
  transition: .4s;
}
.propositions-title-inner .propositions__price:hover {
  background: #cccccc;
  transition: .4s;
}
.propositions-title-inner .propositions-group {
  display: flex;
  justify-content: center;
  margin-left: 4%;
  width: 43%;
  align-items: center;
  border-radius: 5px;
}
.propositions-title-inner .propositions-group a:not(:last-child) {
  margin-right: 6%;
}
.propositions-title-inner .propositions-group a:not(:first-child) {
  border-bottom: 1px dashed #0088cf;
}
.propositions-title-inner .propositions-more {
  padding-left: 30px;
  background: url(../images/reverce.png) no-repeat 0 center;
  margin-left: auto;
  display: inline-block;
}
.propositions-result {
  display: flex;
  padding: 0 5px;
  margin-top: 40px;
  margin-bottom: 25px;
}
.propositions-result .propositions-col {
  flex: 1 1 25%;
  margin: 0 15px;
  max-width: 260px;
  border: 1px #ccc solid;
}
.propositions-result .propositions-col .cost-line {
  background-color: #74b64d;
  min-height: 43px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.propositions-result .propositions-col .cost-line .cost-value {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.propositions-result .propositions-col .cost-line .hypotec {
  padding-left: 28px;
  background: url(../images/house-icon.png) no-repeat 0 center;
  font-size: 12px;
  color: #000;
  margin-left: auto;
  font-weight: 500;
  padding-top: 2px;
}
/*julia*/
.effect-julia img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.effect-julia figcaption {
  text-align: left;
}
.effect-julia p,
.propositions-photo-count,
.stars {
  display: inline-block;
  color: #2f3238;
  text-transform: none;
  font-weight: 500;
  font-size: 75%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}
.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.effect-julia:hover p:first-child,
.effect-julia:hover .propositions-photo-count,
.effect-julia:hover .stars {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.effect-julia:hover p,
.effect-julia:hover .propositions-photo-count {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.effect-julia:hover .stars {
  opacity: 1;
  transform: translateY(-50%) translate3d(0, 0, 0);
}
a.propositions-photo-count {
  margin-bottom: 0;
  padding-top: 12px;
  padding-left: 25px;
  display: inline-block;
  background: url(../images/camera.png) no-repeat 0 center;
}
a.propositions-photo-count span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
figure.effect-julia {
  position: relative;
  overflow: hidden;
  max-width: 260px;
  max-height: 210px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
figure.effect-julia img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-julia figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.effect-julia figcaption ::before,
figure.effect-julia figcaption ::after {
  pointer-events: none;
}
figure.effect-julia figcaption a {
  position: absolute;
  top: 0;
  left: 7px;
  height: 100%;
  line-height: 1.5;
}
/*end julia*/
.hot-proposition {
  line-height: 68px;
}
.hot-proposition .hot-proposition-title {
  background: #ee5f3a ;
}
.hot-proposition .hot-proposition-title .page-content {
  background: url(../images/money-bg.png) no-repeat;
}
.hot-proposition h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.col-holder {
  border: 1px #ccc solid;
}
section.hot-proposition .hot-col {
  padding: 0 15.5px;
}
section.hot-proposition .hot-col .adress {
  margin-bottom: 0;
}
section.hot-proposition .hot-col .hot__btn {
  margin: 15px auto 15px;
  display: block;
}
section.hot-proposition .propositions-parametrs {
  font-size: 13px;
  padding: 20px 10px;
}
section.hot-proposition .swiper-pagination {
  height: 30px;
  bottom: 20px;
  line-height: 1;
}
section.hot-proposition .swiper-pagination span {
  margin: 10px 7px 0 !important;
  width: 13px;
  height: 13px;
}
section.hot-proposition .swiper-pagination .swiper-pagination-bullet-active {
  background: #999;
}
.hot-result {
  margin: 25px auto;
}
/*reuse*/
.col__title-link {
  font-size: 18px;
  font-weight: 500;
  display: block;
  line-height: 1;
  margin-top: 12px;
  padding: 0 10px;
}
figure:hover .propositions-hover {
  background: rgba(51, 51, 51, 0.4);
  transition: .2s;
}
figure .propositions-hover {
  position: absolute;
  height: 45px;
  bottom: 0;
  width: 100%;
}
.stars {
  width: 100px;
  position: absolute;
  right: 5px;
  top: 50%;
}
.adress {
  padding: 0 10px;
  line-height: 1.3;
  font-size: 11px;
  color: #999;
  margin: 5px 0 12px;
}
.propositions-parametrs {
  padding: 20px 15px;
}
.propositions-parametrs p {
  font-size: 13px;
  color: #333;
  line-height: initial;
}
.propositions-parametrs a:before {
  content: url(../images/blue-location.png);
  display: inline-block;
  width: 14px;
  height: 24px;
}
.hot__btn {
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border: none;
  min-width: 190px;
  min-height: 50px;
  cursor: pointer;
  padding-left: 35px;
  border: 1px #ee5f3a solid;
  transition: .4s;
  background-color: transparent;
  color: #ee5f3a;
  background: url(../images/phone-red.png) no-repeat 5px center;
}
.hot__btn:hover {
  color: #fff;
  transition: .4s;
  background: #ee5f3a url(../images/phone-white.png) no-repeat 5px center;
}
.swiper-container2 {
  position: relative;
  width: 1170px;
  height: 520px;
  overflow: hidden;
}
/*end reuse*/
section.selection-form {
  background: #74b64d url(../images/selection-bg.png);
}
.selection-form-inner {
  padding: 30px 15px 50px;
}
@media (min-width: 1200px) {
  .realty-col:last-child h3 {
    white-space: nowrap;
  }
}
