.clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        clear: both;
    }
}

@base-fs: 14px;
@base-color: #10142f;
@sm-fs:12px;
@link-fs: 13px;
@link-color: #0088cf; 
@sm-color: #363636;
@btn--color: #fdbc3b; 

.btn-action() {
	background-color: #fdbc3b;
	border-radius: 5px;
}
.btn-orange(){
	background-color: #fdbc3b;
	border-radius: 5px;
	max-width: 165px;
	width: 100%;
	min-height: 34px;
}
.grey-desc() {
	font-size: 11px;
	color: #999;
}
.article-title() {
	color: #0e2470;
	font-size: 24px;
}
.page-content {
	max-width: 1170px;
	margin: 0 auto;
}
body {
	min-width: 320px;
	font: @base-fs/1.4 'Open Sans', sans-serif;
	color: @base-color;
	background: #fff;
}



.nav-top-w {
	background-color: #dff2f8;
	line-height: 32px;
}

.nav-top {
	display: flex;
	& .menu-top { 
		display: flex;
	}
	& a {
		color: @link-color;
		margin: 0 15px;
		font-size: @link-fs ;
		i {
			border: solid black;
		  border-width: 0 2px 2px 0;
		  display: inline-block;
		  padding: 3px;
		  border-color: #5da8da;
		  margin-left: 3px;
		  margin-bottom: 2px;
		}
		.down {
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}
	}
	& a:hover {
		text-decoration: underline;
	}
	.social {
		margin-left: auto;
		.vk {
			background-image: url(../images/vk.png);
			width: 28px;
			height: 16px;
		}
		.facebook {
			width: 8px;
			height: 16px;
			background-image: url(../images/fb.png);
		}
		.instagram {
			width: 16px;
			height: 16px;
			background-image: url(../images/instagram.png);
		}
		.star {
			width: 17px;
			height: 16px;
			background-image: url(../images/star.png);
		}
		& *:not(:last-child) {
			display: inline-block;		
		}
		a {
			margin: 0 7px;

		}
	}
}
.header-w {
	display: flex;
	padding: 15px 0 15px 15px;
}
.header-left {
	display: flex;
	width: 58%;
	.logo {
		margin-right: 4%;
		width: 30%;
		max-width: 180px;
	}
	.phone {
		text-align: right;
		padding-left: 30px;
		background: url(../images/phone-icon.png) no-repeat left 40%;
		margin-right: 4%;
		width: 30%;
		max-width: 180px;
		& a {
			font-size: @base-fs;
			color: @link-color;
			
			border-bottom: 1px dashed @link-color;
		}
		& span {
			color: #000;
			font-size: 16px;
			font-weight: bold;
			display: block;
		}
		p {
			.grey-desc;
		}
	}
	.contacts {
		background: url(../images/location.png) no-repeat 5px center;
		width: 40%;
		padding-left: 40px;
		text-align: right;
		max-width: 235px;
		line-height: 1.1;
		p {
			.grey-desc;
			margin-bottom: 5px;
		}
		span {
			font-size: 14px;
			color: #000;
			font-weight: 500;
		}
		a {
			color: @link-color;
			font-size: 11px;
		}
	}
}

.header-right {
	flex-basis: 42%;
	padding-left: 15px;
	display: flex;
	.deal {
		width: 40%;
		margin-right: 7%;
		img {
			min-width: 170px;
		}
		p {
			font-size: 12px;
			color: #333;
			text-align: center;
			font-weight: 500;
		}
	}
	.certificate {
		width: 17%;
		margin-right: 9%;
		
		span {
			margin-top: 5px;
			display: inline-block;
			font-weight: 500;
			font-size: 12px;
		}
	}
	.reward {
		display: flex;
		align-items: center;
		width: 43%;
		img {	
		max-width: 23px;
		margin-right: 15px;
		}
		a {
			font-size: 11px;
			color: #0099cc;
			text-decoration: underline;
		}
	}
}

.header-menu-w {
	background-color: #0088cf;
}

	
	.topnav {
		display: flex;
		li:first-child a {
			padding-left: 15px;
			color: #0e2470;
			background-color: #77cfea;
			    padding-right: 15px;
				i {
					margin-left: 25px;
					font-size: 18px;
					line-height: 0;
			    transform: translateY(2px);
			    display: inline-block;
					}
			&:hover {
				text-decoration: none;
			}
		}
		a {
			display: inline-block;
			color: #fff;
			padding: 16px 30px;
			transition: .4s;
			&:hover {
				color: #77cfea;
				text-decoration: underline;
				transition: .4s;
			}
		}
		li {
			&:not(:first-child):not(:nth-child(n+6)):after {
				content: "|";
				display: inline-block;
				width: 2px;
				height: 10px;
				color: #fff;
				opacity: .7;
			}
		}
		.leave-order {
			background-color: #74b64d;
			background-image: url(../images/order.png);
			background-repeat: no-repeat;
			background-position: right 15px center;
			
			a {
				padding-right: 45px;
			}
		}
	}
	li.icon {
		display: none;
	}

.search-w {
	
	background-color: #f1f1f2;
	input[type="submit"] {
		text-transform: uppercase;
		flex-basis: 166px;
		min-height: 34px;
		margin-top: 20px;
		.btn-orange();
		border: none;
		color: #fff;
		font-weight: bold;
		font-size: 18px;
	}
	form {
		display: flex;
		align-items: center;
		justify-content: space-around;
		p, label {
			.grey-desc;
		}
		label {
			padding-left: 5px;
			margin-bottom: 5px;
		}
	}
	.view-on-map {
		background: url(../images/blue-location.png) no-repeat 7px center;
		padding-left: 20px;
		color: @link-color;
		border: @link-color 1px solid;
		line-height: 34px;
		border-radius: 5px;
		flex-basis: 166px;
		margin-top: 20px;
		font-size: 14px;
	}
	.search {
		padding: 20px 15px 10px;
	}
	.realty, .rooms, .cost, .city {
		display: flex;
		flex-wrap: wrap;
	}
	.rooms, .realty {
		flex-basis: 165px;
	}
	.cost {
		flex-basis: 165px;
		justify-content: space-around;
		p {
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
	  }
	  input {
			max-width: 70px;
	  }
	  span {
	  	line-height: 30px;
	  }
	  label {
	  	display: block;
	  	width: 100%;
	  	text-align: center;
	  }
	}
	.city {
		flex-basis: 165px;
		.third-select {
			width: 100%;
		}
	}

	.search-form .nice-select {
		height: 34px;
		line-height: 34px;
		border: #ccc 1px solid;
		padding-left: 10px;
		span {
			color: #333;
		}
	}
	.first-select, .second-select {
		flex-basis: 165px;
	}
	.search-more {
		font-size: @sm-fs;
		color: @link-color; 
		display: inline-block;	
		margin-left: 15px;
		margin-top: 15px;
		border-bottom: 1px @link-color dashed;
	}
}
.section-slider {	
	margin-top: 15px;
	.clearfix();
	.main-slider {
		width: 74%;
		float: left;
		margin-right: 15px;
		.swiper-button-prev, .swiper-button-next {
			background-image: url(../images/left-arrow.png);
			width: 25px;
			height: 55px;
			background-size: 100% 100%;
			top: 38%;
		}
		.swiper-button-next {
			transform: rotate(180deg);
		}
	}

	.swiper-slide {
		position: relative;		
	}
	.slide-content {
		max-width: 325px;
		width: 100%;
		min-height: 125px;
		position: absolute;
		top: 40px;
		left: 0;
		background-color: rgba(51, 51, 51, .6);
		padding: 12px 0 16px 65px;
		font-size: 30px;
		color: #fff;
		font-weight: lighter;
		line-height: 1;
		.slide-content__top {
			color: #77cfea;
		}
		.slide-content__bottom {
			font-size: 26px;
			margin-top: 20px;
		}
	}
	.swiper-pagination-bullet {
		background: #fff;
		opacity: 1;
		width: 15px;
		height: 15px;
		margin: 0 12px !important;
		&.swiper-pagination-bullet-active {
			background-color: @link-color !important;
		}
	}
}

.description-slider {
	float: left;
	width: ~"calc(26% - 15px)";
	& div {
		font-weight: bold;
		font-size: 18px;
		display: flex;
		align-items: center;
		padding-left: 95px;
		flex-basis: 280px;
		min-height: 120px; 
		border: 1px solid transparent;
		transition: .4s;
		a {
			color: @link-color;
		}
		&:hover {
			background-color: #c0e6f2;
			border: 1px solid @link-color;
			transition: .4s;
		}
	}
	& div:not(:last-child) {
		margin-bottom: 17px;
	}
	.mark {
		background: #f1f1f2 url(../images/mark.png) no-repeat 10px center;
	}
	.credit {
		background: #f1f1f2 url(../images/credit.png) no-repeat 10px center;
	}
	.exchange {
		background: #f1f1f2  url(../images/exchange.png) no-repeat 10px center;
	}
}

section.fresh-realty {
	margin-top: 35px;
	h2 {
		color: #74b64d;
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 7px;
	}
	h2+span {
		text-align: center;
		display: block;
		width: 60%;
		margin: 0 auto;
		color: #333;
		a {
			color: @link-color;
		}
	}
	.realty-w {
		display: flex;
	}
	.realty-col-1 {
		flex: 1 1 45%;
	}
}