.page-content {
  max-width: 1170px;
  margin: 0 auto;
}
body {
  min-width: 320px;
  font: 14px/1.4 'Open Sans', sans-serif;
  color: #10142f;
  background: #fff;
}
.nav-top-w {
  background-color: #dff2f8;
  line-height: 32px;
}
.nav-top {
  display: flex;
}
.nav-top .menu-top {
  display: flex;
}
.nav-top a {
  color: #0088cf;
  margin: 0 15px;
  font-size: 13px;
}
.nav-top a i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  border-color: #5da8da;
  margin-left: 3px;
  margin-bottom: 2px;
}
.nav-top a .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav-top a:hover {
  text-decoration: underline;
}
.nav-top .social {
  margin-left: auto;
}
.nav-top .social .vk {
  background-image: url(../images/vk.png);
  width: 28px;
  height: 16px;
}
.nav-top .social .facebook {
  width: 8px;
  height: 16px;
  background-image: url(../images/fb.png);
}
.nav-top .social .instagram {
  width: 16px;
  height: 16px;
  background-image: url(../images/instagram.png);
}
.nav-top .social .star {
  width: 17px;
  height: 16px;
  background-image: url(../images/star.png);
}
.nav-top .social *:not(:last-child) {
  display: inline-block;
}
.nav-top .social a {
  margin: 0 7px;
}
.header-w {
  display: flex;
  padding: 15px 0 15px 15px;
}
.header-left {
  display: flex;
  width: 58%;
}
.header-left .logo {
  margin-right: 4%;
  width: 30%;
  max-width: 180px;
}
.header-left .phone {
  text-align: right;
  padding-left: 30px;
  background: url(../images/phone-icon.png) no-repeat left 40%;
  margin-right: 4%;
  width: 30%;
  max-width: 180px;
}
.header-left .phone a {
  font-size: 14px;
  color: #0088cf;
  border-bottom: 1px dashed #0088cf;
}
.header-left .phone span {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: block;
}
.header-left .phone p {
  font-size: 11px;
  color: #999;
}
.header-left .contacts {
  background: url(../images/location.png) no-repeat 5px center;
  width: 40%;
  padding-left: 40px;
  text-align: right;
  max-width: 235px;
  line-height: 1.1;
}
.header-left .contacts p {
  font-size: 11px;
  color: #999;
  margin-bottom: 5px;
}
.header-left .contacts span {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.header-left .contacts a {
  color: #0088cf;
  font-size: 11px;
}
.header-right {
  flex-basis: 42%;
  padding-left: 15px;
  display: flex;
}
.header-right .deal {
  width: 40%;
  margin-right: 7%;
}
.header-right .deal img {
  min-width: 170px;
}
.header-right .deal p {
  font-size: 12px;
  color: #333;
  text-align: center;
  font-weight: 500;
}
.header-right .certificate {
  width: 17%;
  margin-right: 9%;
}
.header-right .certificate span {
  margin-top: 5px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
}
.header-right .reward {
  display: flex;
  align-items: center;
  width: 43%;
}
.header-right .reward img {
  max-width: 23px;
  margin-right: 15px;
}
.header-right .reward a {
  font-size: 11px;
  color: #0099cc;
  text-decoration: underline;
}
.header-menu-w {
  background-color: #0088cf;
}
.topnav {
  display: flex;
}
.topnav li:first-child a {
  padding-left: 15px;
  color: #0e2470;
  background-color: #77cfea;
  padding-right: 15px;
}
.topnav li:first-child a i {
  margin-left: 25px;
  font-size: 18px;
  line-height: 0;
  transform: translateY(2px);
  display: inline-block;
}
.topnav li:first-child a:hover {
  text-decoration: none;
}
.topnav a {
  display: inline-block;
  color: #fff;
  padding: 16px 30px;
  transition: .4s;
}
.topnav a:hover {
  color: #77cfea;
  text-decoration: underline;
  transition: .4s;
}
.topnav li:not(:first-child):not(:nth-child(n+6)):after {
  content: "|";
  display: inline-block;
  width: 2px;
  height: 10px;
  color: #fff;
  opacity: .7;
}
.topnav .leave-order {
  background-color: #74b64d;
  background-image: url(../images/order.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.topnav .leave-order a {
  padding-right: 45px;
}
li.icon {
  display: none;
}
.search-w {
  background-color: #f1f1f2;
}
.search-w input[type="submit"] {
  text-transform: uppercase;
  flex-basis: 166px;
  margin-top: 20px;
  background-color: #fdbc3b;
  border-radius: 5px;
  max-width: 165px;
  width: 100%;
  min-height: 34px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.search-w form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search-w form p,
.search-w form label {
  font-size: 11px;
  color: #999;
}
.search-w form label {
  padding-left: 5px;
  margin-bottom: 5px;
}
.search-w .view-on-map {
  background: url(../images/blue-location.png) no-repeat 7px center;
  padding-left: 20px;
  color: #0088cf;
  border: #0088cf 1px solid;
  line-height: 34px;
  border-radius: 5px;
  flex-basis: 166px;
  margin-top: 20px;
  font-size: 14px;
}
.search-w .search {
  padding: 20px 15px 10px;
}
.search-w .realty,
.search-w .rooms,
.search-w .cost,
.search-w .city {
  display: flex;
  flex-wrap: wrap;
}
.search-w .rooms,
.search-w .realty {
  flex-basis: 165px;
}
.search-w .cost {
  flex-basis: 165px;
  justify-content: space-around;
}
.search-w .cost p {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}
.search-w .cost input {
  max-width: 70px;
}
.search-w .cost span {
  line-height: 30px;
}
.search-w .cost label {
  display: block;
  width: 100%;
  text-align: center;
}
.search-w .city {
  flex-basis: 165px;
}
.search-w .city .third-select {
  width: 100%;
}
.search-w .search-form .nice-select {
  height: 34px;
  line-height: 34px;
  border: #ccc 1px solid;
  padding-left: 10px;
}
.search-w .search-form .nice-select span {
  color: #333;
}
.search-w .first-select,
.search-w .second-select {
  flex-basis: 165px;
}
.search-w .search-more {
  font-size: 12px;
  color: #0088cf;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
  border-bottom: 1px #0088cf dashed;
}
.section-slider {
  margin-top: 15px;
  *zoom: 1;
}
.section-slider:before,
.section-slider:after {
  display: table;
  line-height: 0;
  content: "";
}
.section-slider:after {
  clear: both;
}
.section-slider .main-slider {
  width: 74%;
  float: left;
  margin-right: 15px;
}
.section-slider .main-slider .swiper-button-prev,
.section-slider .main-slider .swiper-button-next {
  background-image: url(../images/left-arrow.png);
  width: 25px;
  height: 55px;
  background-size: 100% 100%;
  top: 38%;
}
.section-slider .main-slider .swiper-button-next {
  transform: rotate(180deg);
}
.section-slider .swiper-slide {
  position: relative;
}
.section-slider .slide-content {
  max-width: 325px;
  width: 100%;
  min-height: 125px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 12px 0 16px 65px;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  line-height: 1;
}
.section-slider .slide-content .slide-content__top {
  color: #77cfea;
}
.section-slider .slide-content .slide-content__bottom {
  font-size: 26px;
  margin-top: 20px;
}
.section-slider .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 15px;
  height: 15px;
  margin: 0 12px !important;
}
.section-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #0088cf !important;
}
.description-slider {
  float: left;
  width: calc(26% - 15px);
}
.description-slider div {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 95px;
  flex-basis: 280px;
  min-height: 120px;
  border: 1px solid transparent;
  transition: .4s;
}
.description-slider div a {
  color: #0088cf;
}
.description-slider div:hover {
  background-color: #c0e6f2;
  border: 1px solid #0088cf;
  transition: .4s;
}
.description-slider div:not(:last-child) {
  margin-bottom: 17px;
}
.description-slider .mark {
  background: #f1f1f2 url(../images/mark.png) no-repeat 10px center;
}
.description-slider .credit {
  background: #f1f1f2 url(../images/credit.png) no-repeat 10px center;
}
.description-slider .exchange {
  background: #f1f1f2 url(../images/exchange.png) no-repeat 10px center;
}
section.fresh-realty {
  margin-top: 35px;
}
section.fresh-realty h2 {
  color: #74b64d;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}
section.fresh-realty h2 + span {
  text-align: center;
  display: block;
  width: 60%;
  margin: 0 auto;
  color: #333;
}
section.fresh-realty h2 + span a {
  color: #0088cf;
}
section.fresh-realty .realty-w {
  display: flex;
}
section.fresh-realty .realty-col-1 {
  flex: 1 1 45%;
}
