@media (min-width: 1200px) {
  .realty-col:last-child h3 {
    white-space: nowrap;
  }
}
@media all and (max-width: 1169px) {
  .topnav li:first-child a i {
    margin-left: 0 !important;
  }
  .topnav li.topnav__item {
    display: flex;
    align-items: center;
    flex: 1 1;
  }
  .topnav .services-title-w {
    text-align: left;
  }
  .topnav:hover > .services-list {
    display: none;
  }
  .topnav .parent-dropdown {
    text-align: center;
  }
  .search-w .search-more {
    display: table;
    margin: 5px auto 0;
  }
  .services-sub {
    text-align: left;
  }
  .nav-top .menu-top {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header-w {
    flex-wrap: wrap;
  }
  .header-w .header-left {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .header-w .header-right {
    margin: 0 auto;
    justify-content: center;
    flex-basis: auto;
  }
  .section-slider {
    padding: 0 10px;
  }
  .section-slider .main-slider {
    width: 70%;
    margin-right: 2%;
  }
  .section-slider .description-slider {
    width: 28%;
  }
  .section-slider .description-slider div {
    font-size: 16px;
    min-height: 90px;
  }
  .propositions-result {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .propositions-result .propositions-col {
    /*margin-right: auto;*/
    flex-basis: 50% ;
  }
  .propositions-result .propositions-col:not(:last-child) {
    margin-bottom: 40px;
  }
  .col-holder {
    max-width: 260px;
    margin: 0 auto;
  }
  .selection-form-holder {
    padding-right: 5px;
  }
  .selection-form-holder form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .selection-form-holder form input {
    flex: 1 1 auto;
  }
  .selection-form-holder form input[type="submit"] {
    margin-top: 15px;
  }
  .services-article-w {
    padding-right: 0;
    padding-left: 15px;
  }
  .services-sidebar-bottom {
    flex-direction: column;
  }
  .rewards {
    padding: 0 20px;
  }
  .hot-form .selection-form-inner2 {
    padding: 17px 15px 20px;
    flex-wrap: wrap;
  }
  .hot-form .selection-form-inner2 .hot-form-holder {
    width: 100%;
  }
  .hot-form .selection-form-inner2 .hot-form-holder form {
    justify-content: flex-start;
    margin-top: 10px;
  }
  .hot-form .selection-form-inner2 .hot-form-holder form input[type="text"] {
    margin-right: 3%;
  }
  .hot-form .selection-form-inner2 .hot-form-holder form input[type="submit"] {
    flex-shrink: 2;
  }
  .services-list .services-list-col:nth-child(4) .services-title-w {
    padding-left: 5px;
  }
  .footer-inner .logo-footer {
    margin-right: 3%;
    flex: 1 1 auto;
  }
  .footer-inner .services-footer,
  .footer-inner .contacts-footer {
    width: auto;
  }
  .footer-bottom .footer__copy {
    flex: 2 1;
  }
  .footer-bottom .footer__site-map,
  .footer-bottom .footer__develop {
    flex: 1 1;
  }
}
@media all and (max-width: 768px) {
  /*.propositions-result {		
	.propositions-col {
			margin-left: auto;
		}
	}*/
}
